# Application
APPLICATION_NAME=Monetra
ASPNETCORE_ENVIRONMENT=Development
APPLICATION_URL=http://localhost:5000
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# JWT
JWT_SECRET_KEY=super-secret-key-with-at-least-512-bits-length-for-development-only
JWT_ISSUER=monetra-api
JWT_AUDIENCE=monetra-app
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=7

# Database PostgreSQL
DB_CONNECTION_STRING=Host=localhost;Port=5432;Database=monetra;Username=postgres;Password=postgres;

# Redis
REDIS_CONNECTION_STRING=localhost:6379

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# MinIO Storage
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=monetra

# Email (SMTP)
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=noreply@monetra.com.br
SMTP_FROM_NAME=Monetra